<div class="instruction--vote-group instruction_<%= instruction.id %>_vote">
	<%= link_to like_instruction_path(instruction), method: :put, class: "upvote", remote: true do %>
		<span>Like</span>
		<span class="votes-quantity"><%= instruction.cached_votes_up %></span>
	<% end %>

	<%= link_to dislike_instruction_path(instruction), method: :put, class: "downvote", remote: true do %>
		<span>Dislike</span>
		<span class="votes-quantity"><%= instruction.cached_votes_down %></span>
	<% end %>
</div>