<div class="container-fluid">  
  <div class="row">
    
    <div class="col-lg-10 col-lg-offset-1">
      <%= form_for @instruction do |f| %>
        <%= render 'errors' %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :video_url %>
        <%= f.text_field :video_url, class: 'form-control' %>
        
        <%= f.label :category_id, "Change category" %>
        <%= f.select :category_id, id: "speed" do %>
          <% @categories.each do |c| %>
            <%= content_tag :option, c.name, value: c.id %>
          <% end %>
        <% end %>
        
        
        <%= f.label :tag_list, "Tags" %>
        <%= f.text_field :tag_list, :class => "form-control",
                          value: @instruction_tags.to_s %>

        <%= render 'steps/show_editable_steps', :instruction_id => @instruction.id, 
                                                :@steps => @instruction.steps %>

        <div id="steps_params">      
          <%= f.fields_for :steps do |step_form| %>
            <%= step_form.text_field :number %>
          <% end %>
        </div>

        <%= f.submit "Save changes", class: "btn btn-primary", id: "instruction_edit_save_button1" %> 
        <%= link_to "delete",  instruction_path(@instruction.id),
            method: :delete, :class => "btn btn-danger instruction-edit-delete-link" %>
      <% end %> 
    
    </div>
  </div>
</div>

<script type="text/javascript">
  $('option[value="<%= @instruction.category_id %>"]').attr('selected', 'selected');
</script>