<div class="container-fluid">  
  <div class="row">
    
    <div class="col-lg-10 col-lg-offset-1">
      <%= form_for @instruction do |f| %>
        <%= render 'errors' %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :video_url %>
        <%= f.text_field :video_url, class: 'form-control' %>

        
        <%= render 'steps/show_editable_steps', :instruction_id => @instruction.id, 
                                                :@steps => @instruction.steps %>

        <div id="steps_params">      
        
          <%= f.fields_for :steps do |step_form| %>
            <%= step_form.text_field :number %>
          <% end %>
        </div>
        <%= f.submit "Save changes", class: "btn btn-primary", 
        id: "instruction_edit_save_button1", href: "/steps/save_steps_numbers.#{@instruction.id}" %> 
        <%= link_to "delete",  instruction_path(@instruction.id),
            method: :delete, :class => "btn btn-danger instruction-edit-delete-link" %>
      <% end %> 
    
    </div>
  </div>
</div>