<div class="container-fluid">  
  <div class="row">
    
    <div class="col-lg-10 col-lg-offset-1">
      <%= form_for @instruction do |f| %>
        <%= render 'errors' %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :video_url %>
        <%= f.text_field :video_url, class: 'form-control' %>

        
        <%= render 'steps/show_editable_steps' %>

        <%= link_to "Create step", new_instruction_step_path(@instruction.id), remote:true, 
                            :class => "instruction-show-link" %>
        <%= f.submit "Save changes", class: "btn btn-primary", 
        id: "instruction_edit_save_button", href: "/steps/save_steps_numbers.#{@instruction.id}" %> 
      <% end %> 
    
    </div>
  </div>
</div>