<div class="container">  
  <div class="row">
    
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @instruction, :url => {action: "update"} do |f| %>
        <%= render 'errors' %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :video_url %>
        <%= f.text_field :video_url, class: 'form-control' %>

        
      

        <div class="steps-field col-lg-12">
          <div id="sortable">
        
            <% @instruction.steps.each do |s| %>
              <div class="ui-state-default" data-id="<%= s.id %>" data-pos="<%= s.number %>">
                <span><%= s.number %></span>
                <p>
                  <%= s.title %>
                </p>
              </div>
            <% end %>
          
          </div>
        </div>
        <%= link_to "Create step", new_instruction_step_path(@instruction.id), remote:true, 
                            :class => "instruction-show-link" %>
        <%= f.submit "Save changes", class: "btn btn-primary", 
        id: "instruction_edit_save_button", href: "/steps/save_steps_numbers.#{@instruction.id}" %> 
      <% end %> 
    
    </div>
  </div>
</div>