<div class="container">	
	<div class="row">	
		<%= render 'errors' %>
		<p>
			New instruction
		</p>
		<%= form_for @instruction, :url => {action: "create"}, 
															:html => {class: "instruction-form"} do |f| %>
			<%= f.label :name, "Name" %>
			<%= f.text_field :name, :class => "form-control" %>
			<%= f.label :video_url, "Url" %>
			<%= f.text_field :video_url, :class => "form-control" %>
			 <input id="tag1" value="alpha,beta,gamma" />
	    <%= f.label :category_id, "Select category" %>
	    <%= f.select :category_id, id: "speed" do %>
				<%= @categories.each do |c| %>
					<%= content_tag :option, c.name, value: c.id %>
				<% end %>
	    <% end %>
		
			<%= f.submit "Create steps", :class => "btn btn-primary" %>
		<% end %>		
	</div>
	<div class="row">
	
	</div>												
</div>	
<script type="text/javascript">
	$('#tag1').tagsInput({
	   
	});
</script>