<div class="container">	
	<div class="row">	
		<%= render 'errors' %>
		<p>
			New instruction
		</p>
		<%= form_for @instruction, :url => {action: "create"}, 
															:html => {class: "instruction-form"} do |f| %>
			<%= f.label :name, "Name" %>
			<%= f.text_field :name, :class => "form-control" %>
			<%= f.label :video_url, "Url" %>
			<%= f.text_field :video_url, :class => "form-control" %>
		
			<%= f.submit "Create steps", :class => "btn btn-primary" %>
		<% end %>		
	</div>
	<div class="row">
	
	</div>												
</div>	