<div class="container">
	<div class="row">	
		<% if notice %>
			<p class="bg-success">
				<%= notice %>
			</p>
		<% end %>
		
		<h1><%= @instruction.name %></h1>	
		<strong><%= @instruction.video_url %></strong>
		
		<p>
			<strong></strong>	
		</p>
		<% @instruction.steps.order(:number).each do |i| %>
			<div>
				<h2><%= i.number %> : <%= i.title %></h2>
				<p>description: <%= i.description %></p>
				<p>image: <%= cl_image_tag i.image_url %></p>
			</div>
		<% end %>
		<% if current_user %>
			<%= link_to "edit",  edit_instruction_path(@instruction.id),
													 :class => "instruction-edit-link" %>
		<% end %>
	</div>
</div>