<div class="container">
	<div class="row">	
		<% if notice %>
			<p class="bg-success">
				<%= notice %>
			</p>
		<% end %>
	
		<%= render 'instruction_data', :instruction => @instruction, :category => @category %>
		
		<%= render 'tags', :tags => @instruction.tags %>
		
		<% @instruction.steps.order(:number).each do |i| %>
			<div>
		
				<%= render 'steps/steps_data', :step => i %>
				<%= render 'comments/show_comment', :comments => i.comments %>
				
				<% if current_user %>
					<div>
						<%= render 'comments/form', :user_id => current_user.id, 
																				:step => i, :instruction_id => @instruction.id %>
					</div>
				<% end %>
			</div>
		<% end %>

		<% if current_user.id == @instruction.user_id %>
			<%= link_to "edit",  edit_instruction_path(@instruction.id),
													 :class => "instruction-edit-link" %>
		<% end %>
	</div>
</div>