<div class="container">
	<div class="table-responsive">
  	<% if notice %>
			<%= notice %>
		<% end %>	
  	<table class="table">
				<tr>
					<td><span>Name</span></td>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<td><span>Provider</span></td>
					<td><%= @user.provider %></td>
				</tr>
  		 	 
  	</table>
  	<table class="table">
    	<% @instructions.each do |i| %>
				<tr>
					<td><%= i.name %></td>
					<td>
						<% i.tags.each do |t| %>
							<span><%= t.name %></span>
						<% end %>
					</td>
					<td><%= i.video_url %></td>
					<td>
						<%= link_to "show", instruction_path(i.id),
																:class => "instruction-show-link" %>
					</td>
					<td>
						<%= link_to "edit",  edit_instruction_path(i.id),
																:class => "instruction-show-link" %>
					</td>
					<td>
						<%= link_to "delete",  instruction_path(i.id),
						method: :delete, :class => "instruction-show-link btn btn-danger" %>
					</td>
				</tr>
    	<% end %>
  	</table>
  
	</div>
</div>