<div class="container">
	<div class="table-responsive">
  	<% if notice %>
			<%= notice %>
		<% end %>	
  	<table class="table">
				<tr>
					<td><span>Name</span></td>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<td><span>Provider</span></td>
					<td><%= @user.provider %></td>
				</tr>
  		 	 <% session.each do |k, v|%>
					<tr>
						<td><%= "#{k}" %></td>
						<td><%= "#{v}" %></td>
					</tr>
  			<% end %>	
  	</table>
  
	</div>
</div>