

<div class="form-shadov">
	<div class="container">
		<div class="row">
			

			 <%= form_for(@step, :url => {action: "create"}, remote: true,
				html: { class: "step-form" }) do |f| %>

		      <%= f.label :title, "Name:" %>
		      <%= f.text_field :title, :class => "form-control" %>
		      
		      <%= f.label :description, "Description" %>
					<%= f.cktext_area :description, :class => "form-control" %>
		    
		      <%= f.label :image, "Image:" %>
		    
	        <div class="upload_button_holder">
	          <%= link_to("Upload", "#", :class => "upload_button") %>
	          <% if @unsigned %>
	            <%= f.cl_unsigned_image_upload(:image, @preset_name) %>
	            <div id="direct_upload" style="height: 200px"></div>
	          <% else %>
	            <%= f.cl_image_upload(:image, :return_delete_token=>true) %>
	          <% end %>
	        </div>
	        <span class="status"></span>
	       
			    <div class="form_line">
			      <div class="form_controls">
			        <div class="preview"></div>
			      </div>
			    </div>
			    <%= f.submit "Submit Photo" %>
			        
		  	<% end %>

		</div>
	</div>
</div>

<%= render 'upload_script' %>
